/*  ==========================================================================
    Layout
    ========================================================================== */

    //$color-primary: #00C7FF;
    $color-primary: #017EC1;

    @media only screen {

        /*  About
            ========================================================================== */
            .about{
                background: $color-primary url(../img/bg.png) no-repeat scroll top center / 100%;
                padding: 40px 0;
                color: #f9f9f9;
                text-align: center;
            }

            .about h1{
                font-weight: 700;
                text-transform: uppercase;
                margin: 30px 0;
                font-size: 38px;
                line-height: 48px;
                text-shadow: 0 0 10px rgba(0,0,0,0.5);
                @include animation(anime-text 1s ease);
            }

            .about p{
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                margin: 0 0 30px 0;
                color: #f9f9f9;
                text-shadow: 0 0 5px rgba(0,0,0,0.5);
                @include animation(anime-text 1.5s ease);
            }

            .about a{
                color: #f9f9f9;
                text-decoration: none;
            }

            .about a:hover,
            .about a:focus{
                text-decoration: none;
            }


        /*  Social networks
            ========================================================================== */
            .social-networks{
                margin-bottom: 20px;
            }

            .social-networks ul{
                display: block;
                margin: 0;
                padding: 0;
            }

            .social-networks li{
                display: inline-block;
            }

            .social-networks a{
                display: block;
                padding: 10px 0;
                width: 45px;
                height: 45px;
                background-color: rgba(0,0,0,0.2);
                color: #fff;
                text-align: center;
                font-size: 22px;
                line-height: 100%;
                @include border-radius(2px);
                @include transition(all 0.5s ease);
            }

            .social-networks i{
                vertical-align: middle;
            }

            .social-networks a:hover,
            .social-networks a:focus{
                @include transition(all 0.5s ease);
                background-color: rgba(0,0,0,0.5);
            }


    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  About
            ========================================================================== */
            .about{
                height: 700px;
            }

            .about-text{
                height: 250px;
            }

            @include keyframes(anime-text) {
                0%   {  opacity: 0; @include transform(scale(1.1)); }
                100% {  opacity: 1; @include transform(scale(none)); }
            }

            .about h1{
                @include animation(anime-text 1s ease);
            }

            .about p{
                @include animation(anime-text 1.5s ease);
            }

        /*  comentario
            ========================================================================== */
            @include keyframes(anime-social) {
                0%   {  box-shadow: 0 0 0 20px rgba(0,0,0,0.1); }
                100% { opacity: 1; }
            }

            .social-networks .email{ @include animation(anime-social 1s ease); }
            .social-networks .twitter{ @include animation(anime-social 1.5s ease); }
            .social-networks .facebook{ @include animation(anime-social 2s ease); }
            .social-networks .github{ @include animation(anime-social 2.5s ease); }
            .social-networks .wordpress{ @include animation(anime-social 3s ease); }


        /*  Illustration
            ========================================================================== */
            @include keyframes(anime-illustration) {
                0%   { opacity: 0; right: -100%; }
                100% { opacity: 1; right: 0; }
            }

            .illustration img{
                position: relative;
                //@include animation(anime-illustration 2.5s);
            }
    }
