/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen {

        /*  Header
            ========================================================================== */
            .header{

            }

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */
            .header{
                height: 80px;
                border-bottom:1px solid #eee;
                padding: 10px 0;
                background-color: #f9f9f9;
            }

        /*  Menu
            ========================================================================== */
            .nav-menu{
                text-align: right;
                font-size: 14px;
                font-family: Arial;
            }

            .nav-menu ul{
                display: block;
                margin: 0;
            }

            .nav-item{
                display: inline-block;
            }

            .nav-item > a{
                color: #FF8108;
                padding: 20px 10px;
                display: block;
                font-weight: normal;
            }

        /*  Footer
            ========================================================================== */

    }
