/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen {

        /*  Header
            ========================================================================== */
            .header{

            }

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */
            .header{
                height: 80px;
                border-bottom:1px solid #eee;
                padding: 10px 0;
                background-color: #f9f9f9;
            }

            .logo img{
                display: block;
                box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.5);
                width: 65px;
                height: 65px;
                margin-top: -2px;
                @include border-radius(50%);
            }

        /*  Menu
            ========================================================================== */
            .nav-menu{
                text-align: right;
                font-size: 14px;
                font-family: Arial;
            }

            .nav-menu ul{
                display: block;
                margin: 0;
                padding: 10px 0 0;
            }

            .nav-item{
                display: inline-block;
            }

            .nav-item + .nav-item{
                margin-left: 5px;
            }

            .nav-item > a{
                color: #FF8108;
                border: 1px solid #FF8108;
                padding: 10px;
                display: block;
                font-weight: normal;
                @include border-radius(2px);
            }

        /*  Footer
            ========================================================================== */

    }
