/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen {

        /*  Header
            ========================================================================== */
            .header{

            }

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */
            .header{
                height: 80px;
                border-bottom:1px solid #eee;
                padding: 10px 0;
                background-color: #f9f9f9;
            }

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

   }
