<!doctype html>
<html lang="en">
<head>

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}"/>
    <meta property="og:site_name" content="Airton Vancin Junior"/>
    <meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico" type="image/x-icon" />

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" href="{{ site.feedburnerurl }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}build/css/main.min.css" type="text/css" />

    <!-- Modernizr -->
    <script src='{{ site.baseurl }}build/js/libs/modernizr.min.js'></script>

</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>

    <header class="header" role="banner">

        <div class="row">

            <!-- Logo -->
            <div class="logo">
                <img src="{{ site.baseurl }}build/img/airton.png" alt="Logo">
            </div>

            <!-- Menu -->
            <nav class="nav-menu" role="navigation">
                <ul>
                    <li class="nav-item item-home"><a href="{{ site.baseurl }}"><i class="fa fa-home"></i></a></li>
                    <li class="nav-item item-projects"><a href="{{ site.baseurl }}projects/">Projects</a></li>
                    <li class="nav-item item-blog"><a href="{{ site.baseurl }}blog/">Blog</a></li>
                </ul>
            </nav>

        </div>

    </header>
