/*  ==========================================================================
    Lists
    ========================================================================== */

    @media only screen {
        ul,
        ol,
        dl {
            display: block;
            margin-bottom: 30px;
            margin-right: 250px;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            color: #333;
            padding-left: 30px;
        }

        li{
            display: list-item;
        }



    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

    }
