/*  ==========================================================================
    Typography
    ========================================================================== */

    @media only screen {

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust:none;
            font-family: 'Arvo', serif;
            color: #3e3e3e;
        }

        /*  Titles
            ========================================================================== */
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0 0 30px 0;
                font-family: inherit;
                font-weight: 700;
                line-height: 20px;
                color: inherit;
                text-rendering: optimizelegibility;
                letter-spacing: -1px;
            }

            h1{
                font-size: 48px;
                line-height: 58px;
            }

            h2{
                font-size: 36px;
                line-height: 46px;
            }

            h3{
                font-size: 28px;
                line-height: 38px;
            }

            h4{
                font-size: 26px;
                line-height: 36px;
            }

            h5{
                font-size: 24px;
                line-height: 34px;
            }

            h6{
                font-size: 20px;
                line-height: 30px;
            }

        /*  Texts
            ========================================================================== */
            p {
                color: #444;
                font-size: 18px;
                line-height: 28px;
                margin: 0 0 30px;
                text-align: left;
            }

            .text-info{
                color: $color-blue;
            }

        /*  Links
            ========================================================================== */
            a {
                color: $color-blue;
                text-decoration: none;
            }

            a:hover { text-decoration: underline; }

        /*  Code
            ========================================================================== */

            code {
               padding: 2px 4px;
               font-size: 90%;
               color: #c7254e;
               background-color: #f9f2f4;
               border-radius: 4px;
            }

            pre{
                word-wrap: break-word !important;
            }

        /*  Iframe
            ========================================================================== */
            iframe{
                margin-bottom: 30px;
            }

        /*  Blockquote
            ========================================================================== */
            blockquote{
                background-color: #f9f9f9;
                padding: 20px;
                margin: 0 0 30px;
            }
    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

    }
