---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="w-full py-12 md:py-24 lg:py-32 flex justify-center">
    <div class="container px-4 md:px-6 max-w-4xl">
      <h1
        class="scroll-m-20 text-2xl font-bold tracking-tighter sm:text-2xl md:text-3xl lg:text-4xl/none text-slate-900"
      >
        Termos de Uso
      </h1>
      <p class="text-slate-900 font-medium text-md mb-4 lg:mb-6 break-words">
        Última atualização: 24 Outubro, 2024
      </p>

      <p class="text-slate-900 font-medium text-md mb-4 lg:mb-6 break-words">
        Seu acesso e uso do Serviço estão condicionados à sua aceitação e
        conformidade com estes Termos. Estes Termos se aplicam a todos os
        visitantes, usuários e outros que acessam ou usam o Serviço.
      </p>

      <p class="text-slate-900 font-medium text-md mb-4 lg:mb-6 break-words">
        Ao acessar ou usar o Serviço, você concorda em ficar vinculado a estes
        Termos. Se você discordar de qualquer parte dos termos, então você não
        poderá acessar o Serviço.
      </p>

      <h2
        class="text-2xl font-bold tracking-tighter sm:text-2xl md:text-3xl lg:text-4xl/none text-slate-900"
      >
        Conteúdo do Site
      </h2>
      <p class="text-slate-900 font-medium text-md mb-4 lg:mb-6 break-words">
        Todo o conteúdo disponível no site airtonvancin.com, incluindo textos,
        imagens e vídeos, é de propriedade intelectual de Airton Vancin e
        protegido por direitos autorais.
      </p>

      <h2
        class="text-2xl font-bold tracking-tighter sm:text-2xl md:text-3xl lg:text-4xl/none text-slate-900"
      >
        Responsabilidades do Usuário
      </h2>
      <p class="text-slate-900 font-medium text-md mb-4 lg:mb-6 break-words">
        Os usuários concordam em não violar direitos autorais, publicar conteúdo
        ilegal ou prejudicial, ou realizar atividades que possam comprometer a
        segurança do site.
      </p>

      <h2
        class="text-2xl font-bold tracking-tighter sm:text-2xl md:text-3xl lg:text-4xl/none text-slate-900"
      >
        Compras de Produtos Digitais
      </h2>
      <p class="text-slate-900 font-medium text-md mb-4 lg:mb-6 break-words">
        Ao adquirir um produto digital em nosso site, os usuários concordam com
        os termos de compra estabelecidos, incluindo políticas de reembolso e
        suporte ao cliente.
      </p>

      <h2
        class="text-2xl font-bold tracking-tighter sm:text-2xl md:text-3xl lg:text-4xl/none text-slate-900"
      >
        Alterações nos Termos
      </h2>
      <p class="text-slate-900 font-medium text-md mb-4 lg:mb-6 break-words">
        Reservamos o direito de modificar os termos de uso a qualquer momento.
        Os usuários serão notificados sobre quaisquer alterações significativas.
      </p>
    </div>
  </section>
</Layout>
