---
import Footer from "@/components/Footer.astro";
import { Navigation } from "@/components/Navigation";
import "../styles/global.css";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Airton Vancin</title>
  </head>
  <body>
    <div
      class="flex flex-col min-h-screen bg-white dark:bg-gray-900 text-stone-900 dark:text-stone-100 transition-colors duration-300"
    >
      <header
        class="m-auto p-2 flex items-center justify-center fixed w-full z-50"
      >
        <Navigation />
      </header>
      <main class="flex-1 pt-20">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
