{% include header.html %}

<main class="main" role="main">
    <div class="intro">
        <div class="row">
            {% if page.title %}
            <h1 class="title">{{ page.title }}</h1>
            {% endif %}

            {% if page.description %}
            <p class="desc">{{ page.description }}</p>
            {% endif %}
        </div>
    </div>
    <div class="content row">

        {{ content }}

        <div class="list-posts centered">
            {% for post in paginator.posts %}
                {% unless post.draft %}

                <article class="post">

                    <h2 class="posttitle">
                        <a href="{{ post.url }}" class="articletitle">{{ post.title }}</a>
                    </h2>

                    <span class="postdate">{{ post.date | date:"%d/%m/%Y" }}</span>

                    {% if post.image %}
                    <figure class="postimage"><a href="{{ post.url }}"><img src="{{ site.baseurl }}build/img/posts/{{post.image}}" alt="Imagem {{post.image}}"></a></figure>
                    {% endif %}

                    {% if post.description %}
                        {{ post.description | markdownify }}
                    {% else %}
                        {{ post.content }}
                    {% endif %}
                </article>

                {% endunless %}
            {% endfor %}
        </div>


        <div class="pagination">
            {% if paginator.previous_page %}

            {% if paginator.previous_page == 1 %}
            <a class="newer" href="/blog"><i class="fa fa-hand-o-left"></i></a>

            {% else %}
            <a class="newer" href="/blog/page{{paginator.previous_page}}"><i class="fa fa-hand-o-left"></i></a>
            {% endif %}

            {% else %}
            <span class="newer"><i class="fa fa-hand-o-left"></i></span>
            {% endif %}

            <span class="count">Página {{paginator.page}} de {{paginator.total_pages}}</span>

            {% if paginator.next_page %}
            <a class="older" href="/blog/page{{paginator.next_page}}"><i class="fa fa-hand-o-right"></i></a>
            {% else %}
            <span class="older"><i class="fa fa-hand-o-right"></i></span>
            {% endif %}
        </div>

    </div><!-- content -->
</main><!-- main -->

{% include footer.html %}

