{% include header.html %}

<main class="main" role="main">

        <div class="intro">
            <div class="row">

                {% if page.title %}
                <h1 class="title">{{ page.title }}</h1>
                {% endif %}

                {% if page.description %}
                <p class="desc">{{ page.description }}</p>
                {% endif %}

                <span class="date">{{ page.date | date: "%d/%m/%Y" }}</span>
            </div>
        </div>

        <div class="content row">
            {{ content }}
        </div><!-- content -->
        <a rel="author" style="visibility: hidden;" href="https://profiles.google.com/airtonvancin">Zeno Rocha</a>

        {% include disqus.html %}

</main><!-- main -->

{% include footer.html %}
